@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@mixin fullWidth {
  width: 100%;
  float: left;
}
.position-relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.employerTabel {
  @include fullWidth();
  .MuiTableContainer-root {
    @include fullWidth();
    background: #FFFFFF;
    box-shadow: -3px -2px 6px rgba(34, 51, 133, 0.05), 3px 4px 8px rgba(34, 51, 133, 0.05);
    border-radius: 5px;
    table {
      thead {
        tr {
          th {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #223385;
            background-color: #FBFAFF;
            border-bottom: none;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 15px 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #313131;
            border-color: #F4F4F4;
            .userImg {
              width: 30px;
              height: 30px;
              border-radius: 100%;
              margin-right: 10px;
            }
            .activeBtn,.inActiveBtn,.viewBtn {
              width: 70px;
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              color: #32A87D;
              background-color: #E9FFFF;
              border-radius: 5px;
              box-shadow: none;
              text-transform: none;
            }
            .inActiveBtn {
              color: #B84246;
              background-color: #FFF2F7;
            }
            .viewBtn {
              height: 40px;
              width: 75px;
              background: #FFFFFF;
              color: #002347;
              box-shadow: -2px -1px 4px rgba(34, 51, 133, 0.1), 2px 3px 6px rgba(34, 51, 133, 0.1);
              border-radius: 5px;
            }
            .bending {
              color: #223385;
          }
          .cancel {
              color: #B84246;
          }
          .paid {
              color: #00702D;
          }
          .invoiceBtn {
              padding: 12px 15px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #313131;
              text-transform: none;
              background: #FFFFFF;
              border: 1px solid #DBDBDB;
              border-radius: 5px;
              min-width: 185px;
              img {
                  width: 20px;
                  height: 20px;
                  margin-right: 15px;
              }
          }
          .cancelBtn {
              padding: 12px 15px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #B84246;
              text-transform: none;
              background: #FFFFFF;
              border: 1px solid #DBDBDB;
              border-radius: 5px;
              text-align: center;
              min-width: 185px;
          }
          }
          &:last-child {
            td {
              border-bottom: none;
            }
          }
          .MuiInputBase-colorPrimary {
            height: 40px;
            width: 110px;
            font-size: 16px;
            line-height: 19px;
            border-radius: 5px;
            font-weight: 500;
            
            .MuiOutlinedInput-notchedOutline {
              display: none;
            }
            &.selectActive {
              background-color: #E9FFFF;
              color: #32A87D;
              .MuiSvgIcon-root {
                color: #32A87D;
              }
            }
            &.selectInactive {
              background-color: #FFF2F7;
              color: #B84246;
              .MuiSvgIcon-root {
                color: #B84246;
              }
            }
          }
        }
      }
    }
  }
}

.noSideBar {
  .employerDashboardLayout {
    .employerDashboardRight {
      padding-left: 0;
    }
  }
}


// Responsive Start
@media (max-width: 991px) {
  .employerDashboardLayout {
  .PartTimerRegistrationPage {
    padding: 15px 15px;
  }
  .WizardFormContainer {
    padding: 15px 15px;
  }
  .registrationRightCard {
    margin-top: 150px;
  }
  .dashboardPageContainer {
    padding: 15px 15px;
  }
}
  .employerDashboardLayout .ExploreFilterPage {
    .jobFilterContainer {
      padding: 0 15px;
      .jobFilterSearchCard {
        padding: 15px 15px;
        .title {
            font-size: 20px;
        }
      }
      .filterInputContainer {
        margin-top: 15px;
        .MuiPaper-elevation {
          flex-wrap: wrap;
          .searchLoaction {
            width: 100%;
            border-right: none;
            border-bottom: solid 1px #ECECEC;
          }
        }
      }
    }
    .jobsFilterContainer {
    padding: 20px 15px;
    padding-bottom: 0;
    .css-dmmspl-MuiFormGroup-root {
    .css-j204z7-MuiFormControlLabel-root {
      margin: 0;
      // width: 48%;
    .MuiFormControlLabel-label {
      // width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
    }
    }
  }
}
    .exploreCardContainer {
      padding: 0 15px;
    }
  
  }
  .filterCollapseContainer {
    margin-top: 20px;
    .tabContainer {
      flex-direction: column;
      .MuiTabs-vertical {
        .MuiTabs-fixed {
          .MuiTabs-flexContainerVertical {
            flex-direction: row;
            align-items: center;
            .MuiTab-textColorPrimary {
              margin: 0;
              margin-right: 15px;
              min-width: auto;
            }
          }
        }
      }
      div[role=tabpanel] {
        flex: 1;
        margin-top: 0;
        border-left: none;
        min-height: auto;
        .MuiBox-root {
          padding: 0;
        }
        .css-j204z7-MuiFormControlLabel-root {
          width: 48%;
          .MuiFormControlLabel-label {
            min-width: 100% !important;
          }
        }
      }
    }
  }
}

.myJobsTabPanel {
  &.AppliedJobsTab {
    .cardInfoContainer {
      @media (max-width: 991px) {
        flex-direction: row;
      }
    }
  }
  &.positionFilled {
    .cardInfoContainer {
      flex-direction: row;
    .cardInfoRight {
      .cardInfoHeader {
        @media (max-width: 991px){
          flex-direction: row;
          margin-top: 0;
          align-items: center;
        }
      }
    }
    }
  }
}


.MuiFormControl-root {
  .MuiInputBase-root {
    .MuiSelect-icon {
      display: none;
    }
    .MuiSelect-select {
      position: relative;
      &:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 20px;
        right: 18px;
        background-image: url(./assets/images/select-down.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &[aria-expanded~=true] {
        &:after {
          transform: rotate(180deg);
        }
    }
    }
    
  }
}


@media (max-width: 991px) {
.employerDashboardLayout .EmployeerHeaderContainer .EmployeerHeaderMenu {
  display: flex;
    align-items: flex-start;
    position: fixed;
    left: -240px;
    top: 0;
    bottom: 0;
    width: 240px;
    background-color: #fff;
    flex-direction: column;
    padding-top: 20px;
    z-index: 9;
    transition: all ease 0.3s;
}
.employerDashboardLayout .EmployeerHeaderContainer .MuiTypography-root::after {
  display: none;
}
.employerDashboardLayout .employerDashboardLayout .EmployeerHeaderContainer {
  justify-content: flex-start;
}
.employerDashboardLayout .EmployeerHeaderContainer .menuOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.72);
  z-index: 2;
  transform: scale(0);
}
.menuOpen .EmployeerHeaderContainer .menuOverlay {
  transform: scale(1);
    transition: all ease 0.3s;
}
.menuOpen .EmployeerHeaderContainer .EmployeerHeaderMenu{
  left: 0;
    transition: all ease 0.3s;
}
.employerDashboardLayout .EmployeerHeaderContainer .EmployeerHeaderMenu .menuDropdown .MuiButtonBase-root {
  margin-left: 15px;
}
.employerDashboardLayout .EmployeerHeaderContainer .EmployeerHeaderMenu .mobileLogo {
  margin-left: 15px;
}
.employerDashboardLayout .EmployeerHeaderContainer .mobileMenuBtn {
  min-width: inherit;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: block;
}
.employerDashboardLayout .EmployeerHeaderContainer .mobileMenuBtn .mobileMenuImg {
  width: 30px;
  height: 30px;
}
.employerDashboardLayout .employerDashboardLayout .EmployeerHeaderContainer {
  justify-content: flex-start;
}
.mobileProfile {
  .menuDropdown {
  .MuiButtonBase-root {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #002347;
    text-transform: none;
    margin-left: 30px;
    padding: 12px 10px;
    .menuUser {
      width: 45px;
      height: 45px;
      margin-right: 12px;
    }
    .downArrow {
      width: 14px;
      height: 14px;
      margin-left: 7px;
  }
  }
}

}
.employerDashboardLayout .EmployeerHeaderContainer .EmployeerHeaderMenu .menuDropdown button.MuiButtonBase-root {
  display: none;
}
.employerDashboardLayout .employerDashboardRight {
  padding-left: 0 !important;
}
.employerDashboardLayout .sideBarMenuSet .employerDashboardSideBar {
  display: flex;
    align-items: flex-start;
    position: fixed;
    left: -140px;
    top: 0;
    bottom: 0;
    width: 140px;
    background-color: #fff;
    flex-direction: column;
    padding-top: 20px;
    z-index: 9;
    transition: all ease 0.3s;
}
.employerDashboardLayout .employerDashboardRight .DashboardHeaderContainer {
  padding: 15px 15px !important;
  padding-right: 15px!important;
}
.employerDashboardRight .DashboardHeaderContainer .companyLogoConatainer .mobileMenuImg {
  width: 30px;
  height: 30px;
}
.menuOpen .employerDashboardLayout .sideBarMenuSet .employerDashboardSideBar {
  left: 0;
  transition: all ease 0.3s;
}
.employerDashboardLayout .employerDashboardRight .menuOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.72);
  z-index: 8;
  transform: scale(0);
}
.menuOpen .employerDashboardLayout .employerDashboardRight .menuOverlay {
  transform: scale(1);
  transition: all ease 0.3s;
}
.employerDashboardLayout .employerDashboardRight .dashboardPageContainer .JobsActivesTabConatainer .css-xo9ipz-MuiTabs-root{
  padding-bottom: 60px;
}
.employerDashboardLayout .employerDashboardRight .dashboardPageContainer .JobsActivesTabConatainer .JobCardFilter .JobCardSearchBar{
  display: flex;
  align-items: center;
}
.postedJobsSideBannerContainer {
  .postedJobsSideBanner {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
}


@media (max-width: 767px) {
  .employerDashboardRight {
    .dashboardPageContainer {
      .JobsActivesTabConatainer {
        .css-xo9ipz-MuiTabs-root {
          padding-bottom: 60px;
        }
      }
    }
  }
}
@media (min-width: 1023px) {
.employerDashboardLayout .employerDashboardRight .DashboardHeaderContainer .companyLogoConatainer {
  display: none !important;
}
.employerDashboardLayout .employerDashboardRight .DashboardHeaderContainer {
  justify-content: flex-end !important;
  padding-right: 40px !important;
}
}
@media (min-width: 767px) {
.postedJobsSideBannerContainer .postedJobsSideBanner svg{
width: 100%;
height: 100%;
}
.SinginFormPage .SinginFormLeft .SinginFormCarouselContainer {
  display: block;
}
.SinginFormPage .SinginFormLeft .SinginFormBgImg {
display: block;
}
}
@media (min-width: 992px) and (max-width: 1024px) {
  .homePageContainer .bannerContainer .MuiGrid-container .bannerLeft h1 {
    font-size: 40px !important;
  }
  .homePageContainer .bannerContainer .MuiGrid-container .bannerLeft .searchJobForm {
    right: 40px !important;
  }
}


@media (max-width: 1024px){
.SinginFormPage .SinginFormLeft .SinginFormCarouselContainer {
  padding: 0 20px;
}
.signInCarousel .item .signInCarouselSet .signInCarouselSetText {
  margin-left: 20px;
}
.signInCarousel .item .signInCarouselSet .signInCarouselSetText {
  font-size: 16px;
  line-height: 19px;
}
.SinginFormPage .SinginFormLeft .SinginFormBgImg.BannerSVG {
  margin-bottom: -200px;
}
}
@media (max-width: 767px){
  .filterCollapseContainer .tabContainer div[role=tabpanel] {
    border-left: none !important;
    margin-top: 0px !important;
  }
  .filterCollapseContainer .tabContainer div[role=tabpanel] .MuiBox-root {
    padding: 0 !important;
  }
  .homeCarouselContainer .homeCarouselSet {
    padding-left: 100px !important;
}
}